@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.cart {
  @include flex-layout(column, flex-start, center);
  position: absolute;
  background-color: white;
  top: 2.5rem;
  right: -100%;
  height: calc(100vh - 2.5rem);
  width: 100%;
  z-index: 1;

  @include transition;

  @include desktop {
    max-width: 26vw;
  }

  &--active {
    @include transition;
    right: 0;
  }

  &__title {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 400;
    font-family: $title;
  }

  &__products {
    @include flex-layout(column, flex-start, center);
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__product {
    @include flex-layout(row, space-between, stretch);
    margin-bottom: 1rem;
    width: 100%;

    &-img {
      width: 7rem;
    }

    &-title {
      color: $drk-blue;
      width: 6rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-quantity {
      border: 1px solid $drk-blue;
      width: 100%;
      border-radius: 0.5rem;
      @include flex-layout(row, space-between, center);
      padding: 0.1rem 0;
    }

    &-counter {
      font-size: 0.85rem;
    }

    &-delete {
      margin-left: 1.5rem;
      border: none;
      border-radius: 0.625rem;
      color: $drk-blue;
      transform: scale(0.7);
    }

    &-decrease,
    &-increase {
      background: none;
      border: none;
      padding: 0 1.2rem;
      height: 100%;
      cursor: pointer;
    }

    &-price {
      width: 100%;
      font-size: 0.85rem;
      color: $grey-blue;
    }

    &-modal {
      @extend .cart__product-price;
    }
  }

  &__info {
    @include flex-layout(column, space-between, center);
    width: 100%;
    margin-left: 1rem;
  }

  &__header {
    @include flex-layout(row, space-between, flex-start);
    width: 100%;
  }

  &__line {
    min-height: 0.1rem;
    margin: 0 0 1rem 0;
    background-color: $grey-blue;
    width: 100%;
  }

  &__total {
    margin-top: auto;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  &__checkout {
    margin-bottom: 1rem;
    background: $drk-blue;
    padding: 0.8rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 90%;
    text-transform: uppercase;
    @include link-reset;
  }
}
