@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.cart {
  position: absolute;
  background-color: white;
  top: 2.5rem;
  //   left: -100%;
  height: 100vh;
  width: 100%;
  @include transition;
  z-index: 1;

  &--active {
    @include transition;
    left: 0;
  }

  @include desktop {
    max-width: 30vw;
  }

  &__product-img {
    width: 100%;
  }
}
