@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.products-wrapper {
  @include tablet {
    @include flex-layout(row, flex-start, stretch);
    padding-bottom: 2rem;
  }
}

.products {
  @include flex-layout(column, center, center);
  gap: 2rem;
  padding: 0 1rem;
  @include tablet {
    margin: 0 auto;
  }
  @include desktop {
    @include flex-layout(row, center);
    flex-wrap: wrap;
  }
}

.product {
  position: relative;
  @include flex-layout(column);

  &__img {
    width: 100%;
    @include tablet {
      max-width: 32rem;
    }
    @include desktop {
      max-width: 20rem;
    }
  }

  &__btn {
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 0.5rem 0.5rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0;
    z-index: 2;
    @include transition;
  }

  &:hover {
    .product__btn {
      opacity: 1;
    }
  }

  &__title {
    margin: 0.3rem 0;
    font-size: 1.2rem;
    color: $drk-blue;
  }

  &__price {
    color: $grey-blue;
    font-size: 1rem;
  }
}
