@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.products {
  @include tablet {
    @include flex-layout(row, flex-start, stretch);
    padding-bottom: 2rem;
  }

  &__section {
    @include flex-layout(column, center, center);
  }

  &__list {
    @include flex-layout(column, center, center);
    margin-top: 1rem;
    gap: 2rem;
    padding: 0 1rem;
    @include tablet {
      @include flex-layout(row, center);
      margin-top: 0;
      flex-wrap: wrap;
    }
  }

  &__view-all,
  &__view-next {
    width: 8rem;
    background: none;
    @include link-reset;
    color: $drk-blue;

    &:hover {
      background-color: $drk-blue;
      color: white;
    }
  }

  &__view-next {
    margin: 2rem 0 0 0;
  }
}

.product {
  position: relative;
  @include flex-layout(column);

  &__img {
    width: 100%;
    @include tablet {
      // max-width: 32rem;
      max-width: 20rem;
    }
    @include desktop {
      max-width: 20rem;
    }
  }

  &__mid-container {
    @include flex-layout(row, space-between, center);
    width: 100%;
  }

  &__dislike {
    color: $drk-pink;
    cursor: pointer;

    &:hover {
      transform: scale(0.8);
    }
  }

  &__button {
    @include link-reset;
    color: $drk-blue;
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    opacity: 0;
    z-index: 2;
    @include transition;
  }

  &:hover {
    .product__button {
      opacity: 1;
    }
  }

  &__title {
    margin: 0.3rem 0;
    font-size: 1.2rem;
    color: $drk-blue;
  }

  &__price {
    color: $grey-blue;
    font-size: 1rem;
  }
}
