@use "../styles/variables" as *;

.line {
  height: 0.3rem;
  width: 10rem;
  border-radius: 10px;
  background: $drk-pink;
  margin-top: 1rem;
}

.button {
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: $drk-blue;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  border: 1px solid $drk-blue;
}
