//Color
$light-blue: #bae9f0;
$drk-blue: #004359;
$light-pink: #fccec7;
$drk-pink: #f29383;
$grey-blue: #b9c4ce;

//Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//font
$title: "Montserrat", sans-serif;
$text: "Rubik", sans-serif;

//navbar height
$nav-height: 2.75rem;
