@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.about {
  @include tablet {
    @include flex-layout(row);
  }
  &__line {
    display: none;
    @include tablet {
      display: block;
      width: 20rem;
      margin: 0 auto 2rem auto;
    }
  }

  &__us {
    @include tablet {
      @include flex-layout(column, center, center);
    }
  }

  &__us-img {
    min-height: 10rem;
    width: 100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/paperman-4a7c4.appspot.com/o/case44.jpg?alt=media&token=3ca5dec1-855c-4853-b55b-f4b87746b7ee");
    background-size: cover;
    background-position: 0% 48%;
    @include tablet {
      order: 2;
      min-height: 14rem;
    }
  }

  &__products-img {
    @extend .about__us-img;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/paperman-4a7c4.appspot.com/o/case33.jpg?alt=media&token=a7c3b0ab-feb1-4133-8630-4dc4b6357980");
    background-position: 0% 50%;
  }

  &__us-info {
    @include flex-layout(column, center, center);
    text-align: center;
    margin: 2rem 1rem;
    @include tablet {
      order: 1;
      min-height: 14rem;
      margin: 0 2rem;
    }

    @include desktop {
      margin: 0 4rem;
    }
  }

  &__us-title {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}
