@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.product-detail {
  padding-bottom: 2rem;
  color: $drk-blue;
  @include flex-layout(column, center, center);
  @include tablet {
    @include flex-layout(row, space-evenly, flex-start);
    margin: 5rem auto 0 auto;
    max-width: 50rem;
  }
  @include desktop {
    max-width: 60rem;
  }

  &__img {
    width: 100%;
    max-width: 26rem;
    @include tablet {
      max-width: 28rem;
    }
  }

  &__info {
    @include flex-layout(column, center, center);
    margin: 1rem 1rem 0 1rem;
    gap: 1rem;
    @include tablet {
      align-items: flex-start;
    }
  }

  &__title {
    font-family: $title;
    font-size: 1.8rem;
  }

  &__price {
    color: $grey-blue;
    font-size: 1.2rem;
  }

  &__modals {
    font-size: 1.2rem;
    width: 100%;
    @include flex-layout(column, center, center);
    @include tablet {
      align-items: flex-start;
    }
  }

  &__modal {
    width: 100%;
  }

  &__buttons-like,
  &__buttons-add {
    width: 6rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
  }

  &__buttons-like {
    border: 1px solid $drk-pink;

    &--liked {
      background-color: $drk-pink;
      color: white;
    }
  }

  &__buttons-add {
    &:active {
      background-color: $drk-blue;
      color: white;
    }
    margin-top: auto;
  }

  &__promo {
    @include flex-layout(column, center, center);
    font-size: 1.2rem;
    width: 100%;
    @include tablet {
      align-items: flex-start;
    }
  }

  &__promo-input {
    width: 100%;
    min-width: 15.9rem;
    &::placeholder {
      text-align: center;
      color: $drk-blue;
    }
  }
}

.selection-error {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: $drk-pink;
}
