@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.product-detail {
  margin-top: 2.75rem;
  padding-bottom: 2rem;
  color: $drk-blue;
  @include flex-layout(column, center, center);
  @include tablet {
    @include flex-layout(row, space-evenly, flex-start);
    margin: 5rem auto 0 auto;
    max-width: 50rem;
  }
  @include desktop {
    max-width: 60rem;
  }

  &__img {
    width: 100%;
    max-width: 26rem;
    @include tablet {
      max-width: 28rem;
    }
  }

  &__info {
    @include flex-layout(column, center, center);
    margin-top: 1rem;
    gap: 1rem;
    @include tablet {
      margin-top: 0rem;
      align-items: flex-start;
    }
  }

  &__title {
    font-family: $title;
    font-size: 1.8rem;
  }

  &__price {
    color: $grey-blue;
    font-size: 1.2rem;
  }

  &__modals {
    font-size: 1.2rem;
    @include flex-layout(column, center, center);
    @include tablet {
      align-items: flex-start;
    }
  }

  &__buttons {
    @include flex-layout(row);
    gap: 0.5rem;
  }

  &__buttons-like,
  &__buttons-add {
    width: 6rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.7);
  }

  &__buttons-like {
    border: 1px solid $drk-pink;
  }

  &__promo {
    @include flex-layout(column, center, center);
    font-size: 1.2rem;
    @include tablet {
      align-items: flex-start;
    }
  }

  &__promo-input {
    &::placeholder {
      text-align: center;
      color: $drk-blue;
    }
  }
}
