@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.contact {
  @include flex-layout(column, center, center);
  color: $drk-blue;
  padding: 2rem 1rem;

  @include tablet {
    @include flex-layout(row, center, stretch);
    gap: 2rem;
  }

  &__info {
    @include flex-layout(column, center, center);
    border: 0.1rem solid $drk-blue;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__hours {
    @include flex-layout(column, center, center);
    margin-top: 1rem;
    gap: 0.5rem;
  }

  &__media {
    @include list-reset;
    @include flex-layout(row, center, center);
    gap: 1rem;

    &-item {
      margin-top: 1rem;
      @include link-reset;
    }

    &-link {
      color: $drk-blue;
    }
  }

  &__map {
    border: 0.1rem solid $drk-blue;
    border-radius: 0.5rem;
    margin-top: 1rem;
    @include tablet {
      display: flex;
      margin-top: 0;
      min-width: 26rem;
    }
    @include desktop {
      min-width: 40rem;
    }
  }
}
