@use "../../styles/variables" as *;

.footer {
  background: $drk-blue;
  padding: 0.8rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;

  &__copyright,
  &__date {
    text-transform: capitalize;
    color: white;
  }
}
