@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.login {
  &__overlay {
    display: none;
    height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 2.5rem;
    left: -100%;
    height: 100vh;
    width: 100%;
    @include transition;

    &--active {
      left: 0;
    }

    @include desktop {
      display: block;
    }
  }

  &__content {
    @include flex-layout(row, center, center);
    height: 100vh;
    position: absolute;
    background-color: white;
    top: 2.5rem;
    left: -100%;
    height: 100vh;
    width: 100%;
    @include transition;
    z-index: 2;

    &--active {
      @include transition;
      left: 0;
    }

    @include desktop {
      max-width: 26vw;
    }
  }

  &__items {
    @include flex-layout(column, center, center);
    gap: 4rem;
    padding: 0;
    padding-bottom: 2.7rem;

    @include tablet {
      @include flex-layout(row, center, flex-start);
      gap: 5rem;
    }

    @include desktop {
      @include flex-layout(column, center, center);
      gap: 4rem;
    }
  }
}

.sign-in,
.sign-up {
  @include flex-layout(column, center, center);
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: $title;
  background: none;
  border: none;

  &__label {
    font-size: 1rem;
    @include flex-layout(row, space-between, center);
    width: 100%;
  }

  &__input {
    margin-left: 0.5rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    border-radius: 1rem;
    font-family: inherit;
    width: 12rem;
    outline: none;
  }

  &__title {
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  &__submit {
    background-color: $drk-blue;
    color: white;
    min-width: 8rem;
  }
}

.sign-up,
.sign-in {
  position: relative;
  text-align: center;
  cursor: pointer;

  &::before {
    content: attr(data-text);
    position: absolute;
    font-size: 2.5rem;
    font-weight: 600;
    width: 18rem;
    top: 0;
    left: 0;
    transform: translate(-25%, -10%);
    opacity: 0;
    color: black;
    letter-spacing: 1rem;
    @include transition;
  }
  &:hover {
    &::before {
      opacity: 0.4;
      letter-spacing: 0.6rem;
    }
  }
}

.sign-out {
  &__button {
    background: none;
  }
}
