@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.sales {
  margin: 2rem 0;
  @include flex-layout(column, center, center);

  @include desktop {
    margin: 4rem 0;
    @include flex-layout(row, center, center);
    gap: 2rem;
  }

  &__img {
    width: 100%;
    @include tablet {
      max-width: 48rem;
    }
    @include desktop {
      max-width: 25rem;
    }

    &-container {
      position: relative;

      &:hover {
        .sales__img-button {
          opacity: 1;
        }
      }
    }

    &-button {
      @include link-reset;
      width: 10rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0.5rem 0.5rem;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 1rem;
      cursor: pointer;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      opacity: 0;
      z-index: 2;
      color: $drk-blue;
      border: none;
      @include transition;
    }
  }

  &__info {
    @include flex-layout(column, center, center);
    padding: 2rem 0;
    @include desktop {
      min-width: 25rem;
    }
  }

  &__title {
    font-size: 2.5rem;
    font-family: $text;
    font-weight: 400;
    color: $drk-blue;
    text-align: center;
  }

  &__text {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.1rem;
    color: $grey-blue;
  }
}

.countdown {
  @include flex-layout(row, space-around, center);

  &__box {
    @include flex-layout(column, center, center);
    border: 0.1rem dashed black;
    margin: 0 1rem;
    min-width: 3rem;
    min-height: 3rem;

    @include tablet {
      min-width: 4rem;
      min-height: 4rem;
    }
  }

  &__timer {
    font-size: 1.5rem;
  }
}
